<div class="overflow-auto ps-2 " style="height: 80vh;">
    <h3 class="text-center text-decoration-underline position-sticky  bg-white p-1 w-100 top-0"  >Welcome to Faqs</h3>
    <h5 class="fw-bold">1.How do I connect to a Wi-Fi network on my laptop/desktop?</h5>
    <p class="bi bi-caret-right-fill ">Click on the Wi-Fi icon in the system tray (bottom right corner of the screen), select the desired network, and enter the password if prompted. Ensure your Wi-Fi adapter is enabled through device settings if you encounter issues.</p>
    <h5 class="fw-bold">2.My laptop/desktop is running out of disk space. How can I free up space?</h5>
    <p class="bi bi-caret-right-fill fst-italic">Use the Disk Cleanup utility to remove temporary files and other unnecessary items. Consider moving large files or folders to an external drive or cloud storage to free up additional space.</p>
    <h5 class="fw-bold">3.How do I update drivers for hardware components on my laptop/desktop?</h5>
    <p class="bi bi-caret-right-fill fst-italic">Open Device Manager, right-click on the device, and select "Update driver." Choose to search automatically for updated driver software. Alternatively, visit the manufacturer's website for specific drivers.</p>
    <h5 class="fw-bold">4.How do I enable/disable automatic updates on my computer?</h5>
    <p class="bi bi-caret-right-fill fst-italic">For Windows, go to Settings > Update & Security > Windows Update > Advanced Options. For Mac, go to System Preferences > Software Update and adjust settings there.</p>
    <h5 class="fw-bold">5.My work computer is not connecting to the printer. What steps should I take?</h5>
    <p class="bi bi-caret-right-fill fst-italic">Ensure the printer is powered on and connected to the same network as your computer. Check printer settings on your computer and restart both devices if necessary. Contact IT support if the issue persists.</p>
    <h5 class="fw-bold">6.How do I change my password for logging into my work computer?</h5>
    <p class="bi bi-caret-right-fill fst-italic">For Windows, press Ctrl + Alt + Delete and select "Change a password." On Mac, go to System Preferences > Users & Groups > Change Password.</p>
    <h5 class="fw-bold">7.The mouse cursor on my work computer is frozen. What should I do?</h5>
    <p class="bi bi-caret-right-fill fst-italic">Check if the mouse is properly connected to the computer. Try using a different USB port or replacing the batteries if it's a wireless mouse. Restart the computer if necessary.</p>
    <h5 class="fw-bold">8.How do I set up dual monitors on my work computer?</h5>
    <p class="bi bi-caret-right-fill fst-italic">Connect the second monitor to your computer using the appropriate cable (HDMI, DisplayPort, etc.). Go to Display Settings (Windows) or System Preferences > Displays (Mac) to configure multiple monitors.</p>
</div>
