
<div class="position-fixed" style="top:80px">
<marquee class="fs-3 bg-dark text-white fw-bold z-4" [scrollAmount]="15">Welcome to Help desk </marquee>
<section class="d-flex gap-2 flex-column overflow-auto ps-2" >
    <p>At Help desk , we understand the challenges faced by office staff in managing requests efficiently. Our platform
        is designed to streamline the process, making it easier than ever to handle office-related tasks seamlessly.</p>
    <h2 class="text-decoration-underline">What You Can Do with Help desk:</h2>
    <div>
        <h4>1. Raise a New Request</h4>
        <p>
            Empower yourself to initiate new requests effortlessly. Our intuitive interface guides you through
            submitting requests with clarity and speed.
            You can raise a new request by clicking the button "New Request" on the top right , after you login.It will
            take you to a form to fill the required details, fill accordingly and submit the request.</p>
    </div>
    <div>
        <h4>2. View History of Requests</h4>
        <p>
            Access a comprehensive archive of all your past requests. Review previous resolutions, and timelines to aid
            future decision-making and reporting.

            You can view the history of requests in the home page , right after you login. The history list displays
            various coloumns, which give detailed infromation of the requests.</p>
    </div>
    <div>
        <h4>3. See the Status of Raised Requests</h4>
        <p>
            Stay informed every step of the way. Track the progress of your requests in real-time. Know when it's being
            open, in progress, and completed, ensuring you're always in the loop.

            You can see the staus in the history of requests. There is a coloumn named "status" in the list to check
            your current status</p>
    </div>
    <div>
        <h4>4. Cancel Requests</h4>
        <p>
            Need to cancel a request? No problem. Our platform allows you to manage your requests dynamically. Simply
            click cancel when necessary, ensuring your workflow remains flexible and efficient.

            The delete button is found on every request in the history, click on the delete button to cancel that
            request.</p>
    </div>
    <div>
        <h4>5. Update a Request</h4>
        <p>
            Keep your requests up-to-date with ease. Whether it's providing additional information, or clarifying
            details, our platform enables seamless communication and updates throughout the lifecycle of your request.

            You can click on "edit" button, it is found on every request in the history. It will prompt you to edit the
            details of that request.Update the required fields and submit again.It will update your request details.</p>
    </div>
    <div>
        <h4>6. View Specific Request Details.</h4>
        <p>
            A request's specific details can be viewed by clicking on the "id" in the history list.It will give a
            pop-up, which contains all details about the request.</p>
    </div>
</section>
</div>  