<div class="d-flex align-items-center justify-content-center container-fluid">
    <form action="" class="d-flex justify-content-center  align-items-center fs-4 " #formValidation="ngForm"
        style="height: 100vh;" (ngSubmit)="Login()">
        <div class="login-form">
            <div>
                <img class="login-image"
                    src="../../assets/images/login.png"
                    alt="">
            </div>
            <div class="rounded-2 d-flex flex-column gap-4  justify-content-center pe-3 w-100">
                <p class="heading">Login Page</p>
                <div class="d-flex flex-column">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="mail@abc.com"
                        [(ngModel)]="email" required ngModel>
                    <span *ngIf="formValidation.form.controls['email'].hasError('required')&&formValidation.submitted"
                        class="text-danger">
                        Email is required.
                    </span>
                </div>
                <div class="d-flex flex-column position-relative">
                    <label for="password" class="form-label ">Password <span class="text-danger">*</span></label>
                    <div class="d-flex">
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="*********" [(ngModel)]="password" required ngModel>
                            <div class="bi bi-eye position-absolute" style="left: 90%;bottom: 3%;" (click)="showPassword()" id="show">
                            </div>
                            <div class="bi bi-eye-slash position-absolute" style="left: 90%;bottom: 3%;" (click)="showPassword()" id="hide">
                            </div>
                    </div>

                    <div *ngIf="formValidation.form.controls['password'].hasError('required')&&formValidation.submitted"
                        class="text-danger">
                        Password is required.
                    </div>
                </div>
                <div class="float-end">
                    <button class="btn text-white float-end " style="background-color: #7F265B;"
                        [disabled]="isLoading || iserror">Login</button>
                </div>
            </div>
        </div>
    </form>
    <div class="position-absolute end-0 top-0 mt-3" [ngClass]="iserror?'show-error':'hide-error'"><span
            class="bg-danger text-white p-3">The password you entered is incorrect.</span></div>

    <div class="text-danger position-absolute top-0 end-0 mt-3" [ngClass]="inValidUser?'show-error':'hide-error'"><span
            class="bg-danger text-white p-2">The email does't exists
            Contact Your Admin</span></div>
    <div class="text-danger position-absolute top-0 end-0 mt-3" [ngClass]="badError?'show-error':'hide-error'"><span
            class="bg-danger text-white p-2">{{errorMessage}}</span></div>
            <div class=" position-absolute top-0 end-0 mt-3 text-center" [ngClass]="isOnline?'hide-error':'show-error'"><span
                class="bg-danger text-white p-2">Please check Your internet Connection
                </span></div>
    <app-loading class="position-absolute" *ngIf="isLoading"></app-loading>
</div>