<div class="d-flex flex-column error-page align-items-center justify-content-center">
    <p>
        <span class="letter_one">O</span>
        <span class="letter_two">O</span>
        <span class="letter_three">P</span>
        <span class="letter_four">S</span>
        <span class="letter_five">!</span>
    <p class="fw-bold fs-5">404- PAGE NOT FOUND</p>
    <p class="text-center">The page you looking for might have been removed  had its name changed or its temporarily unavailable.</p>
    <a class="btn btn-primary" routerLink="/Login">goto login page</a>
</div>